.nav-ul li{
display: inline-block;
padding: 10px;
}
.nav-ul li a{
  color: white;
  text-decoration: none;
  padding: 5px;
}
.nav-ul{
  padding: 5px;
  margin: 0%;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.inputBox {
  margin: 25px;
  display: block;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;

}
.submit {
  margin: 25px;
  display: block;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;

}
/* .submit:hover{
  opacity: 1;
  background-color: #00EEE0;
  border: 1px #99ccff solid;
} */
.submit:active
{
  background-color: skyblue;
  /* border: 1px #000000 solid; */
}
.signup,.prodcut{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}
.nav-right
{
  text-align: right;
}
.inavlid-input{
  margin-top: -20px;
  color: red;
  display: block;
  margin-left: 22px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul {
  margin: 0%;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}